
@media(min-width: 0px){
    .logotypes__wrapper{
        display: flex;
        width: 85%;
        margin: 0 auto;
        margin-top: 40px;
        justify-content: space-around;
        align-items: center;
        height: 100px;

        .logotype:nth-child(4),.logotype:nth-child(5){
           display: none;
        }

        .logotype{
            transition: all .4s;
            &:hover{
                 transform: scale(1.099);
            }
        }
    }
}

@media(min-width: 1047px){
    .logotypes__wrapper{
         .logotype:nth-child(4),.logotype:nth-child(5){
        display: block;
      }
    }
   
}